<div class="contenedor-componente">
    <div class="form">
        <h2 style="text-align:center">¿Cual es tu objetivo? </h2>
        <button class="btn" type="button" (click)="seleccionarObjetivo('Subir de peso')">
            <span>Subir de peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('Aumentar musculo')">
            <span>Aumentar músculo</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('mantener')">
            <span>Mantener peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('Definir')">
            <span>Definir</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('Bajar de peso')">
            <span>Bajar de peso</span>
        </button>
    </div>

</div>