<div class="contenedor-componente">
    <div class="form">
        <h2 style="text-align:center">¿Cual es tu objetivo? </h2>
        <button class="btn" type="button" (click)="seleccionarObjetivo(NutritionTarget.gainWeight)">
            <span>Subir de peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo(NutritionTarget.hypertrophy)">
            <span>Aumentar músculo</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo(NutritionTarget.maintainWeight)">
            <span>Mantener peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo(NutritionTarget.define)">
            <span>Definir</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo(NutritionTarget.lostWeight)">
            <span>Bajar de peso</span>
        </button>
    </div>

</div>