.contenedor-componente {
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.247)), url('/assets/fondo.jpg');
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: calc( 100vh - 50px);
}

.panel {
    position: absolute;
    z-index: 2;
    width: 30%;
}

.form-carrousel {
    position: absolute;
    width: 70%;
    right: 0;
    z-index: 1;
}

@media screen and (min-width: 200px) {
    .panel {
        z-index: 0;
        width: 100%;
    }
    .form-carrousel {
        width: 93%;
    }
}

@media screen and (min-width: 850px) {
    .panel {
        width: 45%;
    }
    .form-carrousel {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .panel {
        max-width: 650px;
        width: 40%;
    }
    .form-carrousel {
        width: 60%;
    }
}