.contenedor-componente {
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.247)), url('/assets/fondo.jpg');
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: calc( 100vh - 100px);
}

.panel {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.form-carrousel {
    width: 90%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
}

@media screen and (min-width: 200px) {}

@media screen and (min-width: 850px) {}

@media screen and (min-width: 1200px) {}