.slider {
    padding: 2rem; 
    background-image: url('/assets/fondos/fondoPCForm.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.slider__icon {
    padding: .5rem 1rem;
    background-color: var(--elements-bg-primary);
    color: var(--text-generic-color);
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: .85;
    &:hover {
        opacity: 1;
        transform: translateY(-10%);
    }
}

.slider__sheet {
    position: relative;
    height: 100%;
    width: 100%;
}
