<!-- <h3>Estado actual reducer home</h3>
<ul>
    <li>Objetivo: {{ objetivo$ | async}} </li>
    <li>edad: {{ (datos_fisiologicos$ | async)?.edad}}</li>
    <li>peso: {{ (datos_fisiologicos$ | async)?.peso}}</li>
    <li>altura: {{ (datos_fisiologicos$ | async)?.altura}}</li>
    <li>genero: {{ (datos_fisiologicos$ | async)?.genero}}</li>
    <li>nivel_actividad: {{ (datos_fisiologicos$ | async)?.nivel_actividad}}</li>
    <li>mba: {{ (datos_fisiologicos$ | async)?.mba }}</li>
    <li>mba with activity: {{ (datos_fisiologicos$ | async)?.mbaWithActivity }}</li>
    <li>imc: {{ (datos_fisiologicos$ | async)?.imc }}</li>
</ul>
<label for="" #text>Introduce alimento</label><input type="text" [(ngModel)]="alimento">
<button (click)="searchShow()">Show some item</button> -->