<div class="contenedor-componente">
    <form class="form">

        <div class="form__generic-row with-selector">
            <div class="form__generic-col">
                <input class="form__generic-input small-input" id="altura" type="number">
                <label class="form__label" for="altura">Altura</label>
            </div>
            <div class="form__generic-col">
                <select class="form__units-selector-input" name="unidad_altura" id="unidad_altura" aria-label="Unidades de altura, eliga entre centrimetros, metros o pies">
                    <option value="cm">Centímetros</option>
                    <option value="m">Metros</option>
                    <option value="ft">Pies</option>
                </select>
            </div>

        </div>
        <div class="form__generic-row with-selector">
            <div class="form__generic-col">
                <input class="form__generic-input small-input" id="peso" type="number">
                <label class="form__label" for="peso">Peso</label>
            </div>

            <div class="form__generic-col">
                <select class="form__units-selector-input" name="unidad_peso" id="unidad_peso" aria-label="Unidades de peso, eliga entre kilogramos o libras">
                    <option value="kg">Kilogramos</option>
                    <option value="lb">Libras</option>
                </select>
            </div>
        </div>

        <div class="form__generic-row with-selector">
            <div class="form__generic-col">
                <input class="form__generic-input small-input" id="edad" type="number">
                <label class="form__label " for="edad">Edad</label>
            </div>

            <div class="form__generic-col">
                <div class="radio_container">
                    <span class="radio-title">Genero</span>
                    <input type="radio" name="radio" id="one" checked>
                    <label for="one">Hombre</label>
                    <input type="radio" name="radio" id="two">
                    <label for="two">Mujer</label>
                </div>
            </div>
        </div>

        <div class="form__generic-row">

        </div>
        <div class="form__generic-row">

        </div>
        <div class="form__generic-row">
            <button class="submit-btn" type="submit">Listo</button>
        </div>


    </form>
</div>