<section id="no-more-tables">
    <table class="table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Code</th>
                <th>Company</th>
                <th class="numeric">Price</th>
                <th class="numeric">Change</th>
                <th class="numeric">Change %</th>
                <th class="numeric">Open</th>
                <th class="numeric">High</th>
                <th class="numeric">Low</th>
                <th class="numeric">Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Code">AAC</td>
                <td data-title="Company">AUSTRALIAN COMPANY LIMITED.</td>
                <td data-title="Price" class="numeric">$1.38</td>
                <td data-title="Change" class="numeric">-0.01</td>
                <td data-title="Change %" class="numeric">-0.36%</td>
                <td data-title="Open" class="numeric">$1.39</td>
                <td data-title="High" class="numeric">$1.39</td>
                <td data-title="Low" class="numeric">$1.38</td>
                <td data-title="Volume" class="numeric">9,395</td>
            </tr>
            <tr>
                <td data-title="Code">AAD</td>
                <td data-title="Company">ARDENT LEISURE GROUP</td>
                <td data-title="Price" class="numeric">$1.15</td>
                <td data-title="Change" class="numeric"> +0.02</td>
                <td data-title="Change %" class="numeric">1.32%</td>
                <td data-title="Open" class="numeric">$1.14</td>
                <td data-title="High" class="numeric">$1.15</td>
                <td data-title="Low" class="numeric">$1.13</td>
                <td data-title="Volume" class="numeric">56,431</td>
            </tr>
            <tr>
                <td data-title="Code">AAX</td>
                <td data-title="Company">AUSENCO LIMITED</td>
                <td data-title="Price" class="numeric">$4.00</td>
                <td data-title="Change" class="numeric">-0.04</td>
                <td data-title="Change %" class="numeric">-0.99%</td>
                <td data-title="Open" class="numeric">$4.01</td>
                <td data-title="High" class="numeric">$4.05</td>
                <td data-title="Low" class="numeric">$4.00</td>
                <td data-title="Volume" class="numeric">90,641</td>
            </tr>
            <tr>
                <td data-title="Code">ABC</td>
                <td data-title="Company">ADELAIDE BRIGHTON LIMITED</td>
                <td data-title="Price" class="numeric">$3.00</td>
                <td data-title="Change" class="numeric"> +0.06</td>
                <td data-title="Change %" class="numeric">2.04%</td>
                <td data-title="Open" class="numeric">$2.98</td>
                <td data-title="High" class="numeric">$3.00</td>
                <td data-title="Low" class="numeric">$2.96</td>
                <td data-title="Volume" class="numeric">862,518</td>
            </tr>
        </tbody>
    </table>
</section>