<section id="no-more-tables">
    <table class="table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th class="text-center blue-header-cell" rowspan="3">Referencia</th>
                <th class="text-center green-header-cell" colspan="25">Fecha</th>
            </tr>
            <tr>
                <th colspan="12" class="text-center green-header-cell">Detalle de la referencia</th>
                <th colspan="3" class="text-center orange-header-cell">Información del proveedor</th>
                <th colspan="4" class="text-center blue-header-cell">Información de Precios</th>
                <th colspan="6" class="text-center blue-header-cell">Información adicional de Costes</th>
            </tr>
            <tr>

                <th class="text-center green-header-cell">Descripción</th>
                <th class="text-center green-header-cell">Fabricante</th>
                <th class="text-center green-header-cell">Marca</th>
                <th class="text-center green-header-cell">Modelo</th>
                <th class="text-center green-header-cell">Fecha de Alta</th>
                <th class="text-center green-header-cell">Tamaño/Horma</th>
                <th class="text-center green-header-cell">Dibujo</th>
                <th class="text-center green-header-cell">Color</th>
                <th class="text-center green-header-cell">Unidades de compra</th>
                <th class="text-center green-header-cell">Unidades de venta</th>
                <th class="text-center green-header-cell">Año-Temporada Última Entrada</th>
                <th class="text-center green-header-cell">Calificación 2</th>

                <th class="text-center orange-header-cell">Proveedor</th>
                <th class="text-center orange-header-cell">Divisa</th>
                <th class="text-center orange-header-cell">País</th>

                <th class="text-center blue-header-cell">Coste Tarifa</th>
                <th class="text-center blue-header-cell">PVP Tarifa</th>
                <th class="text-center blue-header-cell">PVP Vigente Permanente</th>
                <th class="text-center blue-header-cell">PVP Vigente</th>

                <th class="text-center blue-header-cell">Coste Neto</th>
                <th class="text-center blue-header-cell">Coste Mercancía</th>
                <th class="text-center blue-header-cell">Coste Valor de la Existencia</th>
                <th class="text-center blue-header-cell">Precio Ultima Entrada Pedido</th>
                <th class="text-center blue-header-cell">Nº Pedido (ultimo pedido entregado de esta referencia)</th>
                <th class="text-center blue-header-cell">Fecha del Pedido</th>

            </tr>
        </thead>
        <tbody>

            <tr aria-rowindex="1">
                <td data-title="Referencia: " headers="Referencia" class="text-left">61405395728605</td>

                <td data-title="Descripción: " headers="Fecha / Detalle de la referencia / Descripción" class="text-right">LED 50" 50PUS7304/12 4K HDR SM</td>
                <td data-title="Fabricante" headers="Fecha / Detalle de la referencia / Fabricante" class="text-right">126888</td>
                <td data-title="Marca: " headers="Fecha / Detalle de la referencia / Marca" class="text-right">Philips</td>
                <td data-title="Modelo: " headers="Fecha / Detalle de la referencia / Modelo" class="text-right">50PUS7304/12</td>
                <td data-title="Fecha de alta: " headers="Fecha / Detalle de la referencia / Fechqa de Alta" class="text-right">15/04/2019</td>
                <td data-title="Tamaño Horna: " headers="Fecha / Detalle de la referencia / Tamaño/Horma" class="text-right">1</td>
                <td data-title="Dibujo: " headers="Fecha / Detalle de la referencia / Dibujo" class="text-right">6</td>
                <td data-title="Color: " headers="Fecha / Detalle de la referencia / Color" class="text-right">Plata</td>
                <td data-title="Unidades de compra: " headers="Fecha / Detalle de la referencia / Unidades de compra" class="text-right">0001</td>
                <td data-title="Unidades de venta" headers="Fecha / Detalle de la referencia / Unidades de venta" class="text-right">0001</td>
                <td data-title="Año-Temporada última entrada" headers="Fecha / Detalle de la referencia / Año-Temporada Última Entrada" class="text-right">20F</td>
                <td data-title="Calificación 2" headers="Fecha / Detalle de la referencia / Calificación 2" class="text-right">O</td>

                <td data-title="Proveedor: " headers="Fecha / Información del proveedor / Proveedor" class="text-right">0126888</td>
                <td data-title="Divisa: " headers="Fecha / Información del proveedor / Divisa" class="text-right">PESETA CORRIENTE</td>
                <td data-title="País: " headers="Fecha / Información del proveedor / País" class="text-right">España</td>

                <td data-title="Coste tarifa: " headers="Fecha / Información de Precios / Coste Tarifa" class="text-right">436.1500</td>
                <td data-title="PVP Tarifa: " headers="Fecha / Información de Precios / PVP Tarifa" class="text-right">699.00</td>
                <td data-title="PVP Vigente Permanente: " headers="Fecha / Información de Precios / PVP Vigente Permanente" class="text-right">549.00</td>
                <td data-title="PVP Vigente: " headers="Fecha / Información de Precios / PVP Vigente" class="text-right">549.00</td>

                <td data-title="Coste Neto: " headers="Fecha / Información adicional de Costes / Coste Neto" class="text-right">436.1500</td>
                <td data-title="Coste Mercancía: " headers="Fecha / Información adicional de Costes / Coste Mercancía" class="text-right">436.1500</td>
                <td data-title="Coste Valor de la Existencia: " headers="Fecha / Información adicional de Costes / Coste Valor de la Existencia" class="text-right">437.8275</td>
                <td data-title="Precio última entrada de pedido: " headers="Fecha / Información adicional de Costes / Precio Ultima Entrada Pedido" class="text-right">639.00</td>
                <td data-title="Nº Pedido: " headers="Fecha / Información adicional de Costes / Nº Pedido (ultimo pedido entregado de esta referencia)" class="text-right">56892301</td>
                <td data-title="Fecha del Pedido: " headers="Fecha / Información adicional de Costes / Fecha del Pedido" class="text-right">09-09-2020</td>
            </tr>

            <tr aria-rowindex="1">
                <td data-title="Referencia: " headers="Referencia" class="text-left">61387635317274</td>

                <td data-title="Descripción: " headers="Fecha / Detalle de la referencia / Descripción" class="text-right">LED 50" 50PUS7304/12 4K HDR SM</td>
                <td data-title="Fabricante" headers="Fecha / Detalle de la referencia / Fabricante" class="text-right">126888</td>
                <td data-title="Marca: " headers="Fecha / Detalle de la referencia / Marca" class="text-right">Philips</td>
                <td data-title="Modelo: " headers="Fecha / Detalle de la referencia / Modelo" class="text-right">50PUS7304/12</td>
                <td data-title="Fecha de alta: " headers="Fecha / Detalle de la referencia / Fechqa de Alta" class="text-right">15/04/2019</td>
                <td data-title="Tamaño Horna: " headers="Fecha / Detalle de la referencia / Tamaño/Horma" class="text-right">1</td>
                <td data-title="Dibujo: " headers="Fecha / Detalle de la referencia / Dibujo" class="text-right">6</td>
                <td data-title="Color: " headers="Fecha / Detalle de la referencia / Color" class="text-right">Plata</td>
                <td data-title="Unidades de compra: " headers="Fecha / Detalle de la referencia / Unidades de compra" class="text-right">0001</td>
                <td data-title="Unidades de venta" headers="Fecha / Detalle de la referencia / Unidades de venta" class="text-right">0001</td>
                <td data-title="Año-Temporada última entrada" headers="Fecha / Detalle de la referencia / Año-Temporada Última Entrada" class="text-right">20F</td>
                <td data-title="Calificación 2" headers="Fecha / Detalle de la referencia / Calificación 2" class="text-right">O</td>

                <td data-title="Proveedor: " headers="Fecha / Información del proveedor / Proveedor" class="text-right">0126888</td>
                <td data-title="Divisa: " headers="Fecha / Información del proveedor / Divisa" class="text-right">PESETA CORRIENTE</td>
                <td data-title="País: " headers="Fecha / Información del proveedor / País" class="text-right">España</td>

                <td data-title="Coste tarifa: " headers="Fecha / Información de Precios / Coste Tarifa" class="text-right">436.1500</td>
                <td data-title="PVP Tarifa: " headers="Fecha / Información de Precios / PVP Tarifa" class="text-right">699.00</td>
                <td data-title="PVP Vigente Permanente: " headers="Fecha / Información de Precios / PVP Vigente Permanente" class="text-right">549.00</td>
                <td data-title="PVP Vigente: " headers="Fecha / Información de Precios / PVP Vigente" class="text-right">549.00</td>

                <td data-title="Coste Neto: " headers="Fecha / Información adicional de Costes / Coste Neto" class="text-right">436.1500</td>
                <td data-title="Coste Mercancía: " headers="Fecha / Información adicional de Costes / Coste Mercancía" class="text-right">436.1500</td>
                <td data-title="Coste Valor de la Existencia: " headers="Fecha / Información adicional de Costes / Coste Valor de la Existencia" class="text-right">437.8275</td>
                <td data-title="Precio última entrada de pedido: " headers="Fecha / Información adicional de Costes / Precio Ultima Entrada Pedido" class="text-right">639.00</td>
                <td data-title="Nº Pedido: " headers="Fecha / Información adicional de Costes / Nº Pedido (ultimo pedido entregado de esta referencia)" class="text-right">56892301</td>
                <td data-title="Fecha del Pedido: " headers="Fecha / Información adicional de Costes / Fecha del Pedido" class="text-right">09-09-2020</td>
            </tr>

            <tr aria-rowindex="1">
                <td data-title="Referencia: " headers="Referencia" class="text-left">6980397723176</td>

                <td data-title="Descripción: " headers="Fecha / Detalle de la referencia / Descripción" class="text-right">LED 50" 50PUS7304/12 4K HDR SM</td>
                <td data-title="Fabricante" headers="Fecha / Detalle de la referencia / Fabricante" class="text-right">126888</td>
                <td data-title="Marca: " headers="Fecha / Detalle de la referencia / Marca" class="text-right">Philips</td>
                <td data-title="Modelo: " headers="Fecha / Detalle de la referencia / Modelo" class="text-right">50PUS7304/12</td>
                <td data-title="Fecha de alta: " headers="Fecha / Detalle de la referencia / Fechqa de Alta" class="text-right">15/04/2019</td>
                <td data-title="Tamaño Horna: " headers="Fecha / Detalle de la referencia / Tamaño/Horma" class="text-right">1</td>
                <td data-title="Dibujo: " headers="Fecha / Detalle de la referencia / Dibujo" class="text-right">6</td>
                <td data-title="Color: " headers="Fecha / Detalle de la referencia / Color" class="text-right">Plata</td>
                <td data-title="Unidades de compra: " headers="Fecha / Detalle de la referencia / Unidades de compra" class="text-right">0001</td>
                <td data-title="Unidades de venta" headers="Fecha / Detalle de la referencia / Unidades de venta" class="text-right">0001</td>
                <td data-title="Año-Temporada última entrada" headers="Fecha / Detalle de la referencia / Año-Temporada Última Entrada" class="text-right">20F</td>
                <td data-title="Calificación 2" headers="Fecha / Detalle de la referencia / Calificación 2" class="text-right">O</td>

                <td data-title="Proveedor: " headers="Fecha / Información del proveedor / Proveedor" class="text-right">0126888</td>
                <td data-title="Divisa: " headers="Fecha / Información del proveedor / Divisa" class="text-right">PESETA CORRIENTE</td>
                <td data-title="País: " headers="Fecha / Información del proveedor / País" class="text-right">España</td>

                <td data-title="Coste tarifa: " headers="Fecha / Información de Precios / Coste Tarifa" class="text-right">436.1500</td>
                <td data-title="PVP Tarifa: " headers="Fecha / Información de Precios / PVP Tarifa" class="text-right">699.00</td>
                <td data-title="PVP Vigente Permanente: " headers="Fecha / Información de Precios / PVP Vigente Permanente" class="text-right">549.00</td>
                <td data-title="PVP Vigente: " headers="Fecha / Información de Precios / PVP Vigente" class="text-right">549.00</td>

                <td data-title="Coste Neto: " headers="Fecha / Información adicional de Costes / Coste Neto" class="text-right">436.1500</td>
                <td data-title="Coste Mercancía: " headers="Fecha / Información adicional de Costes / Coste Mercancía" class="text-right">436.1500</td>
                <td data-title="Coste Valor de la Existencia: " headers="Fecha / Información adicional de Costes / Coste Valor de la Existencia" class="text-right">437.8275</td>
                <td data-title="Precio última entrada de pedido: " headers="Fecha / Información adicional de Costes / Precio Ultima Entrada Pedido" class="text-right">639.00</td>
                <td data-title="Nº Pedido: " headers="Fecha / Información adicional de Costes / Nº Pedido (ultimo pedido entregado de esta referencia)" class="text-right">56892301</td>
                <td data-title="Fecha del Pedido: " headers="Fecha / Información adicional de Costes / Fecha del Pedido" class="text-right">09-09-2020</td>
            </tr>

        </tbody>
    </table>
</section>