
<h1>{{title}}</h1>
<p>En este proyecto se contemplarán los aspectos fundamentales de Angular</p>
<hr>
<div class="exercise">
  <h2 class="exercise__title">Data binding [Entralazamiento de datos]</h2>
  <label>
    <span>Introduce un texto: </span><input type="text" [(ngModel)]="name"><br>
    <span>El value del input es: </span><span class="result">{{name}}</span>
  </label>
  <p class="exercise_explanation">En este pedazo de codigo se puede apreciar que hay una vinculación [bind] entre el dato dentro del input
    y el dato expuesto en la siguiente linea, a esto se le llama data binding.
  </p>
</div>

<hr>



