<div class="dashboard-container">
    <div class="dashboard__box box__basic-line">
        <div class="box__header">
            <h3>Historial consumo caloríco</h3>
            <h4>Kilo Calorías diarias en los últimos 7 días</h4>
        </div>
        <app-basic-line-chart></app-basic-line-chart>
    </div>

    <div class="dashboard__box box__mba">
        <div class="box__header">
            <h3>Metabolismo basal</h3>
            <h4>Kilo Calorías diarias</h4>
        </div>
        <app-mba-chart [mba]="(fisiologic_data$ | async)?.mba" [mba-with-activity]="(fisiologic_data$ | async)?.mbaWithActivity" [mba-with-act-objetive]="(fisiologic_data$ | async)?.mbaWithActivityAndObjetive" [objetive]="(objetive$ | async)"></app-mba-chart>
    </div>

    <div class="dashboard__box box__imc">
        <div class="box__header">
            <h3>Indice de masa corporal</h3>
            <h4>Hidratos, proteínas y grasas.</h4>
        </div>
        <div class="box__content">
            <app-imc-chart [imc]="(fisiologic_data$ | async)?.imc"></app-imc-chart>
        </div>
    </div>
    <div class="dashboard__box box__water">
        <div class="box__header">
            <h3>Cantidad de agua diaria</h3>
        </div>
        <div class="box__content water">
            <span class="material-icons-outlined">
                water_drop
                </span>
            <span>{{((fisiologic_data$ | async)?.diaryWater) | number:'1.2-2'}} Litros </span>
        </div>
    </div>
   

    

    <div class="dashboard__box box__macro">
        <div class="box__header ">
            <h3>Distribución Macronutrientes</h3>
            <h4>Hidratos, proteínas y grasas.</h4>
        </div>
        <div class="box__content">
            <app-macronutrients-chart [carbo-hydrates]="(fisiologic_data$ | async)?.diaryCarbohydrates" [proteins]="(fisiologic_data$ | async)?.diaryProtein" [fats]="(fisiologic_data$ | async)?.diaryFats">
            </app-macronutrients-chart>
        </div>
    </div>




</div>