<div class="dashboard-container">
    <div class="dashboard__box">
        <app-mba-box [mba]="(fisiologic_data$ | async)?.mba" [mba-with-activity]="(fisiologic_data$ | async)?.mbaWithActivity" [mba-with-act-objetive]="(fisiologic_data$ | async)?.mbaWithActivityAndObjetive" [objetive]="(objetive$ | async)"></app-mba-box>
    </div>


    <div class="dashboard__box">
        <h3>Agua diaria recomendada</h3>
        <span class="material-icons-outlined">
            water_drop
        </span>
    </div>

</div>