<div class="box">
    <ul>
        <li>MBA: {{ mba}}</li>
        <li>MBA with activity: {{ mbaWithActivity}} </li>
        <li>MBA with activity and Objetive: {{ mbaWithActAndObjetive}}</li>
    </ul>


    <ngx-charts-bar-vertical-normalized [view]="view" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical-normalized>
</div>