
<div class="modal-container">

    <div class="modal-component">
        <div class="modal__header">
            <h2>Hello modal</h2>
            <span class="material-icons-outlined" (click)="hideModal()">
                close
            </span>

        </div>
        <div class="modal__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non sed quia quaerat dolores sunt earum repellat nesciunt ratione! Hic accusantium tempore ex unde neque alias ut quae quasi odit veritatis!
            Vitae quod fugiat sequi ipsam nisi voluptate quos voluptates aut non id incidunt tempora aliquid repellat ea earum voluptatem corporis, obcaecati hic laboriosam delectus. Quo et reiciendis excepturi eius dignissimos!

        </div>
        <div class="modal__footer">
            <button class="modal__button" (click)="hideModal()">Close</button>
        </div>
       
    </div>
       
</div>

