:root {
    --color-principal: #69db7c;
    --color-principal-claro: #b2f2bb;
    --color-principal-oscuro: #2f9e44;
    --border-radius: 5px;
    --color-principal-transparente: rgba(150, 150, 150, 0.432);
    --color-principal-oscuro-transparente: rgba(139, 139, 139, 0.322);
    --default-ff: 'Merienda', cursive;
    --color-fuente-claro: #daf7e0;
    --global-border-radius: 7.5px;
    --margin-btm-high: 2rem;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    app-root {
        height: 100%;
    }
}

@keyframes fromLeft_light {
    0% {
        transform: translateX(12%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 200px) {
    html,
    body {
        font-size: 13px;
    }
}

@media screen and (min-width: 850px) {
    html,
    body {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 17px;
    }
}