@import 'material-icons/iconfont/material-icons.css';
:root {
    /* Fondos */
    --elements-background: #0a2844;
    --background-components-gradient: linear-gradient(0deg, #0a2844, #0a2844);
    --background-components-light: #0a2844;
    --background-components-light-dark: #8ce99a;
    --dark-background: #051422;
    /* Colores tipografia */
    --font-color: #b8f8ff;
    --main-color: #69db7c;
    --main-color-light: #b2f2bb;
    --main-color-dark: #2f9e44;
    --border-radius: 5px;
    --color-principal-transparente: rgba(150, 150, 150, 0.432);
    --color-principal-oscuro-transparente: rgba(139, 139, 139, 0.322);
    --default-ff: 'Merienda', cursive;
    --color-fuente-claro: #daf7e0;
    --global-border-radius: 7.5px;
    /* Margenes */
    --margin-btm-high: 2rem;
    --primary-color: #1864ab;
    --primary-color-d1: #0c3256;
    --primary-color-d2: #0a2844;
    /*  */
    --secondary-color: #94d82d;
    --secondary-color-d3: #1c123b;
    --tertiary-color: #ffd43b;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    ;
}

body {
    min-height: 100vh;
    app-root {
        height: 100%;
    }
}

@keyframes fromLeft_light {
    0% {
        transform: translateX(12%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 200px) {
    html,
    body {
        font-size: 13px;
    }
}

@media screen and (min-width: 850px) {
    html,
    body {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 17px;
    }
}