/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

:root {
    --color-principal: rgb(32, 168, 103);
    --color-principal-oscuro: rgb(12, 148, 83);
}