.contenedor-app {
    position: relative
}

header {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
}

main {
    overflow-x: hidden;
    width: 100vw;
}

footer {
    position: relative;
    top: 100%;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, var(--color-principal), var(--color-principal-oscuro));
}