<div class="contenedor-componente" #contenedor>
    <div class="panel" #panel>
        <div class="caja-1 caja" data-title="Objetivo" data-delay="5">
            <img src="/assets/targetPng.png" alt="">
            <span class="value">Aumentar músculo</span>
        </div>

        <div class="caja caja-2" data-title="Cantidad Agua diaria">
            <i class="las la-tint" style="display: block;"></i>
            <span class="value">2.5 </span><span class="unidad">Litros</span>
        </div>
        <div class="caja caja-3" data-title="Indice masa corporal">
            <app-speedmeter></app-speedmeter>
        </div>

        <div class="caja-4 caja" data-title="Metabolismo basal" data-delay="5">
            <div class="fila-1">
                <img class="img-1" src="/assets/kCal.png" alt="" data-info="base">
                <div class="text">
                    <span class="value">1945 </span><span class="unidad">Kcal</span>
                </div>
            </div>
            <div class="fila-2">
                <img class="img-2" src="/assets/kCal.png" alt="" data-info="Con ejercicio">
                <div class="text">
                    <span class="value">2234 </span><span class="unidad">Kcal</span>
                </div>
            </div>
        </div>
        <div class="caja caja-5" data-title="Macronutrientes">
        </div>
    </div>
    <div class="barra-interactiva" style="color:White">
        <i class="las la-bars" (click)="openPanel(panel, contenedor)"></i>
    </div>

</div>