<div class="contenedor-componente">
    <div class="form">
        <h2 style="text-align:center">¿Cual es tu objetivo? </h2>
        <button class="btn" type="button" (click)="seleccionarObjetivo('subir')">
            <span>Subir de peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('mantener')">
            <span>Mantener peso</span>
        </button>
        <button class="btn" type="button" (click)="seleccionarObjetivo('bajar')">
            <span>Bajar de peso</span>
        </button>
    </div>

</div>